.row
	.large-4.columns
		
		#logo{style: 'margin-top:10px;'}
			= image_tag 'logo.png'

	.large-7.columns
	
		.right

			#menu{style: 'margin-top:5px;'}
				= link_to 'home', root_path, class: 'button tiny'
			
				- if current_user
					= link_to 'apps', admin_apps_path, class: 'button tiny'
					= link_to 'help', help_path, class: 'button tiny'

				- if current_user
					= link_to 'logout', logout_path, class: 'button tiny'
				- else
					= link_to 'login', login_path, class: 'button tiny'
					= link_to 'join', join_path, class: 'button tiny'