.row
	.large-12.columns
		
		.row
			.large-12.columns
				%h2
					= @app.name
				= link_to pluralize(@entity_count, 'entity'), admin_app_end_entities_path(@app), class: 'button'

		.row
			.large-6.columns
				UUID
			.large-6.columns
				= @app.uuid

		- if @app.has_client_certificate

			.row
				.large-6.columns
					= "Current client cert expires in #{ days_left(@not_after) } (#{@cert.serial.to_s(16)})"
				.large-6.columns
					= "#{ link_to 'Renew', '' } / #{ link_to 'Revoke', admin_app_revoke_client_cert_path(@app) }".html_safe
		
		- if @app.has_ca_certificate	
				
			.row
				.large-6.columns
					= "Current ca cert expires in #{ days_left(@ca_not_after) } (#{@ca_cert.serial.to_s(16)})"
				.large-6.columns
					= "#{ link_to 'Renew', '' } / #{ link_to 'Revoke', admin_app_revoke_ca_cert_path(@app) }".html_safe

.row
	.large-12.columns

		.row
			.large-6.columns
				Client Key
			.large-6.columns
				= "#{link_to 'pem', admin_app_client_key_pem_path(@app)} / #{link_to 'der', admin_app_client_key_der_path(@app)}".html_safe
			
		.row
			.large-6.columns
				Client Cert
			.large-6.columns
				= "#{link_to 'pem', admin_app_client_cert_pem_path(@app)} / #{link_to 'der', admin_app_client_cert_der_path(@app)}".html_safe

		.row
			.large-6.columns
				p12 Archive
			.large-6.columns				
				= link_to 'der', admin_app_client_pkcs12_der_path(@app)

.row
	.large-12.columns				
		.row
			.large-6.columns
				CA Cert
			.large-6.columns
				= "#{link_to 'pem', admin_app_ca_cert_pem_path(@app)} / #{link_to 'der', admin_app_ca_cert_der_path(@app)}".html_safe
				
		.row
			.large-6.columns
				CRL
			.large-6.columns
				= link_to 'download', admin_app_download_crl_path(@app)
				
		.row
			.large-6.columns
				ARL
			.large-6.columns
				= link_to 'download', ''

.row
	.large-12.columns
		= link_to 'Back to apps', admin_apps_path, class: 'button'

				