.row
	.large-12.columns
		%ul.breadcrumbs
			%li= link_to 'apps', admin_apps_path
			%li= link_to @app.name, admin_app_path(@app)
			%li.current entities
			
.row
	.large-12.columns
		
		- if @entities and @entities.length > 0
			
			%ul.unstyled
			
				- @entities.each do |entity|
				
					%li
						= link_to entity.did, admin_app_end_entity_path(@app, entity)
						= link_to 'destroy', admin_app_end_entity_path(@app, entity), {method: :delete, remote: true, class: 'button tiny'}
						
						
		- else
			%p No End Entities Yet

		= link_to 'Add a new end entity', new_admin_app_end_entity_path(@app)
					
						