.row
	.large-12.columns
		%ul.breadcrumbs
			%li= link_to 'apps', admin_apps_path
			%li= link_to @app.name, admin_app_path(@app)
			%li= link_to 'entities', admin_app_end_entities_path(@app)
			%li.current new

.row
	.large-12.columns
		%p Add a New End Entity

		= form_for @end_entity, url: admin_app_end_entities_path(@app) do |f|
	
			= render partial: 'form', object: f
	
			.row
				.large-4.columns
					&nbsp;
				.large-4.columns
					.right
						= f.submit 'Create', {class: 'button small'}
				.large-4.columns
					&nbsp;

		= link_to 'Cancel', admin_app_end_entities_path(@app), {class: 'button small'}