<!DOCTYPE html>
<html>
<head>
  <title>Sec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		<%= link_to 'home', root_path %>
		<%= link_to 'apps', admin_apps_path %>
		<%= link_to 'end entities', admin_end_entities_path %>
	</div>

<%= yield %>

</body>
</html>
